# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/
.gradle/

# Compiled Java bytecode
*.class

# Log files
*.log

# IntelliJ-specific files
*.iml
*.iws

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
